.answer {
	font-size: 3.6rem;
	text-align: center;
}

.answer pre {
	text-align: left;
}

.answer-image {
    max-width: 500px;
}

.answer-final {
	font-size: 1rem;
    font-family: "Chalkduster", "Roboto";
}