.btn {
	height: 85vh;
	width: 90vw;
	background-color: hsl(0, 0%, 100%);
	border: 0;
	border-radius: 1rem;
	font-family: inherit;
	font-size: 3.2rem;
	font-weight: 700;
}

.btn:active {
	background-color: hsl(0, 0%, 90%);
}

.btn:focus {
	outline: 0;
}

.btn_yep {
	background-color: hsl(120, 50%, 60%);
}
