*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 1.6vmin;
}

body {
	background-color: hsl(207, 100%, 20%);
	color: hsl(0, 0%, 100%);
	font: 400 2.4rem/1.3 'Open Sans Condensed', sans-serif;
	padding: 0;
}

a {
	color: hsl(60, 50%, 60%);
}

button {
	vertical-align: middle;
}

li + li {
	margin-top: 1.6rem;
}
