.tbl {
	width: 100%;
	border-spacing: 0.5rem;
	border-collapse: separate;
	table-layout: fixed;
}

.tbl > * > tr > td,
.tbl > * > tr > th {
	padding: 0.5rem;
	width: 1%;
	text-align: center;
	vertical-align: middle;
}

.tbl > * > tr > th {
	padding-top: 0;
}

.tbl-cell_fat {
	background-color: hsla(0, 0%, 100%, 0.05);
	color: hsl(60, 50%, 60%);
	font-size: 2.4rem;
}

.tbl-cell_tall {
    background-color: hsla(234, 46%, 64%, 0.25);
}

tr > td.tbl-cell_tall {
	padding: 2rem 0.5rem;
}
