.view {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.view::before {
	content: '';
}

.dailyDoubleImg {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
